.inputClearStyles {
  background: none;
  border: 0;
  padding: 0; }
  .inputClearStyles:required {
    box-shadow: none; }

.userSelect {
  display: flex; }
  .userSelect__label {
    padding: 5px;
    flex: 1;
    text-align: center;
    color: gray;
    font-weight: lighter; }
  .userSelect__input[type="radio"] {
    display: none; }
    .userSelect__input[type="radio"]:checked + .userSelect__label {
      border-bottom: 2px solid;
      font-weight: normal;
      color: black; }

.priceInput {
  width: 100%;
  position: relative; }
  .priceInput__underLine {
    background-color: #000;
    height: 2px;
    width: 0;
    transition: width .25s; }
  .priceInput:focus + .priceInput__underLine {
    width: 100%; }
  .priceInput:invalid + .priceInput__underLine {
    background-color: orange;
    width: 100%; }

.dateSelect {
  width: 100%; }
  .dateSelect__underLine {
    background: #000;
    height: 2px;
    width: 0;
    transition: width .25s; }
  .dateSelect:focus + .dateSelect__underLine {
    width: 100%; }
  .dateSelect:invalid + .dateSelect__underLine {
    background-color: orange;
    width: 100%; }
