.Gradient-linerGradient-january {
  background: linear-gradient(45deg, #09698e, #0da3a4); }

.Gradient-linerGradient-february {
  background: linear-gradient(45deg, #0da3a4, #049e84); }

.Gradient-linerGradient-march {
  background: linear-gradient(45deg, #049e84, #00ad4b); }

.Gradient-linerGradient-april {
  background: linear-gradient(45deg, #00ad4b, #64d200); }

.Gradient-linerGradient-may {
  background: linear-gradient(45deg, #64d200, #d7e00a); }

.Gradient-linerGradient-june {
  background: linear-gradient(45deg, #d7e00a, #edbf07); }

.Gradient-linerGradient-july {
  background: linear-gradient(45deg, #edbf07, #f9a706); }

.Gradient-linerGradient-august {
  background: linear-gradient(45deg, #f9a706, #f0930a); }

.Gradient-linerGradient-september {
  background: linear-gradient(45deg, #f0930a, #f0930a); }

.Gradient-linerGradient-october {
  background: linear-gradient(45deg, #f0930a, #9634a8); }

.Gradient-linerGradient-november {
  background: linear-gradient(45deg, #9634a8, #4a34a7); }

.Gradient-linerGradient-december {
  background: linear-gradient(45deg, #4a34a7, #09698e); }
