.Text-textTransform-uppercase {
  text-transform: uppercase; }

.Text-textColor-white {
  color: #fff; }

.text-12 {
  font-size: 12px;
  line-height: 19.416px; }

.text-19 {
  font-size: 19px;
  line-height: 19.416px; }

.text-31 {
  font-size: 31px;
  line-height: 50.158px; }

.text-50 {
  font-size: 47px;
  line-height: 76.046px; }
