.scrollContentAreaColumn {
  display: flex;
  flex-direction: column; }
  .scrollContentAreaColumn--viewHeight {
    height: 100vh; }
  .scrollContentAreaColumn__fixedArea {
    flex: 0 0 auto; }
  .scrollContentAreaColumn__scrollArea {
    flex: 1 1 auto;
    overflow-y: auto; }
