.shadow {
  border-style: solid;
  border-width: 40px;
  border-image: url(/images/shadow-january.svg) 40 fill stretch;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -20px;
  opacity: 0.6;
  z-index: -1; }
  .shadow--january {
    border-image: url(/images/shadow-january.svg) 40 fill stretch; }
  .shadow--february {
    border-image: url(/images/shadow-february.svg) 40 fill stretch; }
  .shadow--march {
    border-image: url(/images/shadow-march.svg) 40 fill stretch; }
  .shadow--april {
    border-image: url(/images/shadow-april.svg) 40 fill stretch; }
  .shadow--may {
    border-image: url(/images/shadow-may.svg) 40 fill stretch; }
  .shadow--june {
    border-image: url(/images/shadow-june.svg) 40 fill stretch; }
  .shadow--july {
    border-image: url(/images/shadow-july.svg) 40 fill stretch; }
  .shadow--august {
    border-image: url(/images/shadow-august.svg) 40 fill stretch; }
  .shadow--september {
    border-image: url(/images/shadow-september.svg) 40 fill stretch; }
  .shadow--october {
    border-image: url(/images/shadow-october.svg) 40 fill stretch; }
  .shadow--november {
    border-image: url(/images/shadow-november.svg) 40 fill stretch; }
  .shadow--december {
    border-image: url(/images/shadow-december.svg) 40 fill stretch; }
  .shadow__parent {
    position: relative; }
