.receiptForm__title {
  font-weight: 400;
  color: black;
  margin: 0; }

.receiptForm__button {
  border: 0;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: black;
  font-weight: lighter; }
