.receiptForm
  &__title
    font-size: 30px
    font-weight: 400
    color: #18214c
    margin: 0
    margin-bottom: 15px

  &__button
    border: 0
    line-height: 40px
    border-radius: 5px
    font-size: 18px
    text-transform: uppercase