.receiptForm__title {
  font-size: 30px;
  font-weight: 400;
  color: #18214c;
  margin: 0;
  margin-bottom: 15px; }

.receiptForm__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 15px auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  /*margin: 65px*/
  grid-template-areas: "name name name" "price date date" ". . ." ". submit ."; }
  .receiptForm__form input, .receiptForm__form select {
    width: 100%;
    border: 0;
    font-size: 18px;
    height: 25px;
    line-height: 26px;
    background: transparent; }

.receiptForm__nameInput {
  grid-area: name; }

.receiptForm__priceInput {
  grid-area: price; }

.receiptForm__dateInput {
  grid-area: date; }

.receiptForm__submitInput {
  grid-area: submit; }

.receiptForm__label {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fff;
  color: #c8ceda;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08); }

.receiptForm__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*appearance: none */ }

.receiptForm__button {
  border: 0;
  line-height: 40px;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase; }
